<div class="container">
  <div class="card shadow p-4 m-4">
    <h1><%= @restaurant.name %></h1>
    <h3 class="text-secondary mt-0"><%= @restaurant.category %></h3>
    <p class="mt-4"><%= @restaurant.address %></p>
    <p><%= @restaurant.phone_number %></p>

    <%= link_to 'Review this Restaurant', new_restaurant_review_path(@restaurant), class: 'btn btn-dark my-2'%>
    <%= link_to 'Go back', restaurants_path, class: 'btn btn-dark'%>


  </div>

  <div class="card shadow p-4 m-4">
  <ul class="list-group">
  <% @restaurant.reviews.each do |x|%>
    <li class="list-group-item p-3"><strong>Rating <%= x.rating %></strong>  - <%= x.content %></li>
  <% end %>
  </ul>
  </div>
</div>
